body{
    background-size: cover;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 9.4%;
}
.signform{
    margin-left: 560px;
    margin-top: 70px;
    border: 2px solid red;
    background-color:sandybrown;
    margin-right: 520px;
    padding-left: 32px;
    padding-bottom: 10px;
}